body {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.main {
  border-top: 7px solid #333;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 75px;
}

section {
  margin-bottom: 1em;
}

h1 {
  font-size: 1.6em;
  margin: 0 0 10px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #489357;
  text-decoration: none;
  border-bottom: 1px solid #489357;
}

a:hover {
  text-decoration: none;
  border-bottom: none;
}

.amp {
  font-style: italic;
  font-family: "Palatino", serif;
  font-size: 110%;
}
